.bg-img1 {
    background-color: #000;
    background-size: cover;
    background-image: url(/Background_with_line_wave_pattern_5.jpg);
}

.bg-img2 {
    background-color: #000;
    background-size: cover;
    background-image: url(./Background_with_line_wave_pattern_5.jpg);
}

.bg-img3 {
    background-color: #000;
    background-size: cover;
    background-image: url(./Background_with_line_wave_pattern_5.jpg);
}